<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<servlet>
<servlet-name>HelloWWW</servlet-name>
<servlet-class>HelloWWW</servlet-class> 
</servlet>
<servlet>
<servlet-name>AdderServlet</servlet-name>
<servlet-class>AdderServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>Selection</servlet-name>
<servlet-class>Selection</servlet-class>
</servlet>
<servlet>
<servlet-name>Weight</servlet-name>
<servlet-class>Weight</servlet-class>
</servlet>
<servlet>
<servlet-name>Checkout</servlet-name>
<servlet-class>Checkout</servlet-class>
</servlet>
<servlet>
<servlet-name>ThreeParams</servlet-name>
<servlet-class>ThreeParams</servlet-class> 
</servlet>
<servlet>
<servlet-name>ServletUtilities</servlet-name>
<servlet-class>ServletUtilities</servlet-class> 
</servlet>
<servlet-mapping>
<servlet-name>HelloWWW</servlet-name>
<url-pattern>/HelloWWW</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AdderServlet</servlet-name>
<url-pattern>/AdderServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Selection</servlet-name>
<url-pattern>/Selection</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Weight</servlet-name>
<url-pattern>/Weight</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Checkout</servlet-name>
<url-pattern>/Checkout</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ThreeParams</servlet-name>
<url-pattern>/ThreeParams</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ServletUtilities</servlet-name>
<url-pattern>/ServletUtilities</url-pattern>
</servlet-mapping>    
</web-app>